/* line 5, ../sass/style.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 12, ../sass/style.scss */
.index-grid .mdl-cell {
  box-sizing: border-box;
  background-color: #BDBDBD;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
  cursor: pointer;
}
/* line 20, ../sass/style.scss */
.index-grid .mdl-cell:hover > .tag-mask, .index-grid .mdl-cell:hover > .tag-title, .index-grid .mdl-cell:hover > .tag-count {
  display: block;
}
/* line 26, ../sass/style.scss */
.index-grid .tags-item {
  position: relative;
}
/* line 29, ../sass/style.scss */
.index-grid .tag-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 38, ../sass/style.scss */
.index-grid .tag-title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 48, ../sass/style.scss */
.index-grid .tag-count {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
/* line 54, ../sass/style.scss */
.index-grid .tag-count > em {
  color: #ff4081;
}

/* line 62, ../sass/style.scss */
.login-grid {
  max-width: 420px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 67, ../sass/style.scss */
.login-grid .mdl-cell {
  padding: 60px;
}

/* line 72, ../sass/style.scss */
.login {
  width: 100%;
}

/* line 77, ../sass/style.scss */
.without-account,
.with-account {
  float: right;
  line-height: 36px;
}

/* line 84, ../sass/style.scss */
#menu-list .menu-item {
  color: #999;
}

/* line 89, ../sass/style.scss */
.table-list {
  width: 80%;
}
/* line 91, ../sass/style.scss */
.table-list th,
.table-list td {
  text-align: center;
}

/* line 98, ../sass/style.scss */
.upload-image-dialog {
  width: 480px;
}

/* line 103, ../sass/style.scss */
.logo-image {
  display: inline-block;
}
/* line 105, ../sass/style.scss */
.logo-image img {
  width: 100px;
  height: 51px;
}

/* line 111, ../sass/style.scss */
.mdl-list__item.active {
  background-color: #ff4081;
}
/* line 113, ../sass/style.scss */
.mdl-list__item.active a {
  color: #fff;
}
/* line 116, ../sass/style.scss */
.mdl-list__item.active i {
  color: #fff;
}
