
<header class="mdl-layout__header mdl-layout__header--scroll">
<!-- <header class="mdl-layout__header--scroll"> -->
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <a href="/" class="logo-image">
                <img src="/images/logoDr.png">
            </a>
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            {% if user %}  
                <a class="mdl-navigation__link" href="javascript:;">欢迎您：{{ user.username }}</a>
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" id="menu-list">
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link menu-item" href="/profile">个人中心</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-navigation__link menu-item" href="/logout">退出登录</a>
                    </li>
                </ul>
            {% else %}
                <a class="mdl-navigation__link" href="/login">登录</a>
                <a class="mdl-navigation__link" href="/signUp">注册</a>                
            {% endif %}
        </nav>
    </div>
</header>
<!--   <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
 -->
