<!--
<div class="list-group">
  <a href="/profile" class="list-group-item {{ 'active' if flag == 'profile' else '' }}">个人资料</a>
  <a href="/admin/user/list" class="list-group-item {{ 'active' if flag == 'userList' else '' }}">用户管理</a>
  <a href="/image/list" class="list-group-item {{ 'active' if flag == 'imageList' else ''}}">图片管理</a>
</div>
-->

<ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item  {{ 'active' if flag == 'profile' else '' }}">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">person</i>
	<a href="/profile" class="">个人资料</a>
</span>
  </li>
  <li class="mdl-list__item {{ 'active' if flag == 'userList' else '' }}">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">person_pin_circle</i>
	<a href="/admin/user/list" >用户管理</a>
  </span>
  </li>
  <li class="mdl-list__item {{ 'active' if flag == 'imageList' else '' }}">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">image</i>
	<a href="/image/list" >图片管理</a>
  </span>
  </li>
   <li class="mdl-list__item  {{ 'active' if flag == 'tagList' else '' }}">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">class</i>
	<a href="/tag/list" >标签管理</a>
  </span>
  </li>
</ul>