{% extends "layout/layout.html" %} 

{% block css %}
{% endblock %}


{% block body %}
	
	
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header my-layout-bg">

	{% include "include/header.html" %}

  <main class="mdl-layout__content">
    <div class="page-content">
    <!-- Your content goes here -->
		<div class="mdl-grid index-grid">
		{% if tags %}
			{% for tag in tags %}
				<div class="mdl-cell mdl-cell--4-col tags-item">
					<img src="/upload/{{ tag.poster }}" style="width:100%;height:auto;">
					<div class="tag-mask"></div>
					<span class="tag-title">
						{{ tag.title }}
					</span>
				</div>
			{% endfor %}
		{% endif %}
		</div>		
    </div>
  </main>
</div>
{% endblock %}

{% block script %}
{% endblock %}

