{% extends "layout/layout.html" %} 

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/waterfall.css">
{% endblock %}


{% block body %}
	
	{% include "include/header.html" %}
	
	<div id="container"></div>
{% endblock %}

{% block script %}
	<!-- <script type="text/javascript" src="/js/mustache.js"></script> -->
	<script type="text/javascript" src="/js/waterfall.min.js"></script>
	<script type="text/javascript">
		$('#container').waterfall({
		    itemCls: 'item',
		    colWidth: 222,  
		    gutterWidth: 15,
		    maxPage : 1,
		    gutterHeight: 15,
		    checkImagesLoaded: false,
		    path: function(page) {
		        return '/images'
		    },
		    callbacks: {
		       renderData: function (res) {
		       		var images = res.data.images,
		       			html = images.map(function(image) {
		       				return (
								    '<div class="item">' + 
								        '<img src="/upload/' + image.url + '" style="width:160px;height:auto;" />' +
								    '</div>'
		       					)
		       			}).join('')


		       		$('#container').append(html)

		       }
		    }
		});		
	</script>
{% endblock %}

