{% extends "layout/layout.html" %}

{% block body %}
    <div class="login">
        <div class="row">
        	<div class="errorMessage">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"aria-hidden="true"> &times;
                            </button>
                            {{ message }}
                        </div>   
                    {% endfor %}
                {% endif %}
            </div>
            <form class="form-horizontal" method="POST" action="/login">
                <div class="form-group">
                    <label for="email" class="control-label col-md-4">邮箱：</label>
                    <div class="col-md-8">
                        <input 
                        type="text"
                        class="form-control" 
                        id="email" 
                        name="email" 
                        placeholder="请输入邮箱"
                        value="{{ user.email }}"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-md-4">密码：</label>
                    <div class="col-md-8">
                        <input 
                        type="password" 
                        class="form-control" 
                        id="password" 
                        name="password" 
                        placeholder="请输入密码"
                        value="{{ user.password }}"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button class="btn btn-primary" type="submit" id="submitBtn">登录</button>
                        <a href="/signUp" class="pull-right signLink">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    
    ;!(function() {

        var login = {

            init : function() {
                this.domCache()
                this.bindEvents() 
            },


            domCache : function() {
                this.email = $('#email')
                this.password = $('#password')
                this.errorMessage = $('.errorMessage')
                this.submitBtn = $('#submitBtn')

            },

            bindEvents : function() {
                this.submitBtn.on('click', _.bind(this.checkData, this))
            },

            messageTpl : function(message) {
                return (
                    '<div class="alert alert-danger alert-dismissable">' + 
                        '<button type="button" class="close" data-dismiss="alert"aria-hidden="true"> &times;' +
                        '</button>' +
                        message +
                    '</div>' 
                )
            },

            checkData : function() {
                if (is.empty(this.email.val())) {
                    this.errorMessage.append(this.messageTpl('邮箱不能为空'))
                    return false
                } else if (!is.email(this.email.val())) {
                    this.errorMessage.append(this.messageTpl('您输入的邮箱格式不正确'))
                    return false
                } else if (is.empty(this.password.val())) {
                    this.errorMessage.append(this.messageTpl('用户密码不能为空'))
                    return false
                } else if (!is.alphaNumeric(this.password.val()) || !is.within(this.password.val().length, 6, 12)) {
                    this.errorMessage.append(this.messageTpl('用户密码必须是6-12位的字母数字组成'))
                    return false
                }
            }
        }

       login.init() 
    })();
</script>
{% endblock %}