{% extends "layout/layout.html" %} 

{% block body %} 

{% include "include/header.html" %}

    <div class="mdl-grid">
		<div class="mdl-cell mdl-cell--2-col">
        	{% include "include/tab.html" %}
		</div>
		<div class="mdl-cell mdl-cell--10-col">
			<div class="demo-list-action mdl-list" style="width:300px;margin-top:50px;padding-left:50px;">
			  <div class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      <i class="material-icons mdl-list__item-avatar">person</i>
			      <span>{{ user.username }}</span>
			    </span>
			  </div>
			  <div class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      <i class="material-icons mdl-list__item-avatar">email</i>
			      <span>{{ user.email }}</span>
			    </span>
			  </div>
			</div>			
		</div>
    </div>
{% endblock %}
