{% extends "layout/layout.html" %} 


{% block body %}

	{% include "include/header.html" %}

    <div class="mdl-grid">
		<div class="mdl-cell mdl-cell--2-col">
        	{% include "include/tab.html" %}
		</div>
		<div class="mdl-cell mdl-cell--10-col">
			<div class="table-wrapper">
				<h4 class="bg-primary">用户列表</h4>
				<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table-list">
					<thead>
					    <tr>
					    <th class="mdl-data-table__cell--non-numeric">
					     	用户名
					    </th>
						<th>
							邮箱
						</th>
						<th>
							角色
						</th>
						<th>
							注册时间
						</th>
						<th>
							操作
						</th>
					    </tr>
					</thead>
					<tbody>
							{% if users %}		
								{% for user in users %}
									<tr>
										<td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
										<td>{{ user.email }}</td>
										<td>{{ '普通户用' if (user.role == 0) else '管理员' }}</td>
										<td>{{ moment(user.createAt).format('YYYY-MM-DD') }}</td>
										<td>
											<a href="/admin/user/delete/{{ user._id }}" class="btn btn-danger">
												删除
											</a>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
					</tbody>
				</table>
			</div>			
		</div>
    </div>

{% endblock %}
